extends ../layout

block content
  script(src='/javascripts/linechart.js')
  script(src='/javascripts/areachart.js')
  script(src='/javascripts/columnchart.js')
  script(src='/javascripts/barchart.js')
  script.
    $(document).ready(function(){

      $('i.fa.fa-pencil').click(function(){
        $('#tableName').attr("contenteditable","true");
        $('#tableName').trigger("focus");
      })
      $(".fa-line-chart").click(function(){
        $('#linechart').show();
        $('#areachart').hide();
        $('#columnchart').hide();
        $('#barchart').hide();
      })
      $(".fa-area-chart").click(function(){
        $('#linechart').hide();
        $('#areachart').show();
        $('#areachart').highcharts().reflow();
        $('#columnchart').hide();
        $('#barchart').hide();
      })
      $(".column").click(function(){
        $('#linechart').hide();
        $('#areachart').hide();
        $('#columnchart').show();
        $('#columnchart').highcharts().reflow();
        $('#barchart').hide();
      })
      $(".bar").click(function(){
        $('#linechart').hide();
        $('#areachart').hide();
        $('#columnchart').hide();
        $('#barchart').show();
        $('#barchart').highcharts().reflow();;
      })
    })
  div(id='chart', value=table.table_data)
  ul.nav.nav-tabs
    li.active
      a.fa.fa-line-chart(data-toggle="tab", href='#linechart')
    li
      a.fa.fa-area-chart(data-toggle="tab", href='#areachart')
    li
      a.fa.fa-bar-chart.column(data-toggle="tab", href='#columnchart')
    li
      a.bar(data-toggle="tab", href='#barchart')
        i.fa.fa-bar-chart(style="transform: rotate(90deg) scaleX(-1) scale(0.8,1.3)")
  div.tab-content
    div(id='linechart', class="tab-pane fade in active")
    div(id='areachart', class="tab-pane fade")
    div(id='columnchart', class="tab-pane fade")
    div(id='barchart', class="tab-pane fade")

  div(id="chart-name", value=table.name)

  div(id="table_title")
    h2(id="tableName",style="display:inline-block")= table.name
    i.fa.fa-pencil


  div(id="newTable", class="hot handsontable htColumnHeaders htRemoveRow", style="overflow: hidden; width:715px; height:auto;")

  button#update.btn.btn-default= "Update  "
    i.fa.fa-floppy-o
  form#delete(action=`/tables/${table.id}?_method=delete` method='post')
    button.btn.btn-default(type="submit")= "Delete "
      i(class="fa fa-trash", aria-hidden="true")
